
.nav{
    font-family: Alegreya, serif;
    text-align: center;
}

.jumbotron{
    background-image: url(images/giphy.gif);
    text-align: center;
    background-size: cover;
    background-color: white;    
}




img{
    height: 350px;
    width: 350px;
    display: block;
}
.center {
    margin: auto;
    width: 60%;
    padding: 10px;
  }

/*footer{
    text-align: center;
    padding: 20px;
    background-color: #333333;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}*/


