@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');



.nav{
    padding: 30px;
    text-align: center;
    color: white;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-flow: row wrap;
  }
.flex-child{
    justify-content: center;
    margin: 20px 20px;
}



img{
    height: 350px;
    width: 350px;
    display: block;
}
.center {
    margin: auto;
    width: 60%;
    padding: 10px;
  }

/*footer{
    text-align: center;
    padding: 20px;
    background-color: #333333;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}*/


